<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WM - Tippspiel</title>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<link rel="stylesheet" type="text/css" href="css/content.css"/>
</head>

<body>

<div id="main">
	<div id="aheader"></div>

	<div id="header">
    
    	<div id="hbanner"></div>
        
    	<div id="hpwsend">
        <h2 class="con">Passwort zuschicken</h2>
            <div style="margin-left:75px">
            <p>Hier kannst du dir ein neues Passwort per Email zuschicken lassen. Sollte nach 15 Minuten immer noch keine Email eingetroffen sein (bitte auch im Spam-Ordner suchen), wende dich an einen der Administratoren.</p><br /><br />
            <form action="#" method="post">
                <div class="hlbox">Deine Email: <br /><input type="text" name="email" size="40" /></div>
                <div class="hlbox">&nbsp; <br /><input class="sendbutton" type="submit" name="send" value="Senden" /></div>
            </form>
            </div>
        </div>
    </div>
    
    <div id="content">
    </div>
    
    <div id="footer">
    <p><a href="#">Impressum</a> | <a href="#">Internetprogrammierung</a> | <a href="#">Facebook</a> | <a href="#">usw.</a></p>
    </div>
</div>

</body>
</html>
