@charset "utf-8";
/* CSS Document */

html {
	height:						100% /* wichtig */
}

body {
	background-color:			#FFF;
	background-image:			url("../images/background.jpg");
	background-position:		center -15px;
	background-repeat:			no-repeat;
	color:						#595959;
	font-family:				Verdana, Geneva, sans-serif;
	font-size:					12px;
	height: 					100%; /* wichtig */
}


#main {
	/*background-color:			#000;*/
	height:						auto !important; /* moderne Browser */
	height:						100%; /* IE */
	/*margin-left:				300px;*/
	margin:						auto;
	/*margin-top:				125px;*/
	min-height: 				100%;
	position: 					relative;
	
	width:						880px;
}

a {
	color:						#39C;
	font-family:				Verdana, Geneva, sans-serif;
	font-size:					12px;
	text-decoration:			none;
}

h2.con {
	border-bottom:				1px solid #000;
	font-family:				Verdana, Geneva, sans-serif;
	font-size:					15px;
}

#aheader {
	height:						105px;
	width:						880px;
}

#header {
	/*background-color:			#F00;*/
	margin-bottom:				15px;
}
#hbanner {
	background-image:			url("../images/banner2.jpg");
	height:						130px;
	width:						880px;
}

#hgreeting {
	background-color:			#FF9;
	border-color:				#CC0;
	border-style:				solid;
	border-width:				1px;
	float:						left;
	height:						150px;
	padding:			 	    5px;
	text-align:					left;
	width:						430px;
}

#hgreeting table {
	margin-left:				5px;
	text-align:					right;
}
#hgreeting input {
	background-color:			#EEE;
	border-color:				#000;
	border-style:				solid;
	border-width:				1px;
}
.registbutton {
	width: 						114px;
	height: 					20px;
  	margin: 					0;
  	padding: 					0;
  	border: 					0;
  	background: 				transparent url("../images/buttons/regist.jpg") no-repeat center top;
  	text-indent: 				-1000em;
  	cursor: 					pointer; /* hand-shaped cursor */
  	cursor: 					hand; /* for IE 5.x */
}
.registbutton:hover {
	background: 				transparent url("../images/buttons/regist_h.jpg") no-repeat center top;
}

#hlogin {
	background-color:			#E2FFC0;
	border-color:				#3C6;
	border-style:				solid;
	border-width:				1px;
	float:						right;
	height:						150px;
	padding:			 	    5px;
/*	text-align:					left;*/
	width:						425px;
}

div.hlbox {
	float:						left;
	margin-left:				5px;
}
div.hclear {
	clear:						both;
	margin-right:				45px;
	text-align:					right;
}
#hlogin input {
	background-color:			#EEE;
	border-color:				#000;
	border-style:				solid;
	border-width:				1px;
	margin-top:					10px;
}
.loginbutton {
	width: 						92px;
	height: 					20px;
  	margin: 					0;
  	padding: 		 			0;
  	border: 					0;
  	background: 				transparent url("../images/buttons/login.jpg") no-repeat center top;
  	text-indent: 				-1000em;
  	cursor: 					pointer; /* hand-shaped cursor */
  	cursor: 					hand; /* for IE 5.x */
}
.loginbutton:hover {
  	background: 				transparent url("../images/buttons/login_h.jpg") no-repeat center top;
}


#navigation {
	margin:						0;
	padding:					0;
	width:						880px;	
}
#navigation ul {
	list-style:					none;
	margin:						0;
	padding:					0;
}
#navigation ul li {
	background-image:			url("../images/navigation2.jpg");
	float:						left;
	height:						30px;
	text-align:					center;
	width:						176px;
}
#navigation ul li a {
	color:						#FFF;
	display:					block;
	height:						30px;
	padding-top:				5.5px;
	text-decoration:			none;
	width:						176px;
}

#content {
	background-color:			white;
	/*border-bottom:			1px solid #DCDCDC;*/
	padding-bottom:             10em;
	padding-left:               10px;
	padding-right:              10px;
}
div.cbox {
	/*background-color:			#CCC;*/
	float:						left;
	margin:						5px;
	width:						275px;
}

.cboxl {
	/*background-color:			#CCC;*/
	float:						left;
	margin:						5px;
	width:						40em;
}
.cbox h2 {
	border-bottom:				1px solid #DCDCDC;
	font-family:				Verdana, Geneva, sans-serif;
	font-size:					16px;
}


#footer {
	/*background-color:			#FF3;*/
	border-top:					1px solid #DCDCDC;
	bottom:						0;
	margin-top:					10px;
	position:					absolute;
	width:						880px;
}

#footer p {
	text-align:					center;
}

.feed{
margin-top: 0px;
margin-bottom: 10px;
padding-bottom: 10px;
border-bottom-style: solid;
border-color:#FEFFBF;
/*
border-color: black;
border-width: 1px;	  
border-style: solid;
*/	  
}

.feedtitle{
font-weight: bold;		   
}

.falsepasswd{
position: relative;
left: 20 px;
top: 20 px;
}


#loginbutton{
background-color: red;
position: relative;
top: 5px;
left: 327px;
}

#falseloginmessage{
position: relative;
text-align: center;
font-weight: bold;
font-size: 16pt;
}


#tippaendern{
color: #BDBF00;

}


.feedimage{
float:left
}

.feedtext{
float:left;
width: 300px;
margin-left: 20px
}

.feeddate{
margin-top: 5px;
color: #87CEFA;
}

#gruppen{
position: absolute;
top: 320px;
left: 44px;	
background-color: white;
height: auto;
width: 65px;
border-style: solid;
padding: 5px;

	
}


#spielregeln{
width: 330px;
margin-top: 10px;	
	
}

#spielregelnhead{
height: 35px;
font-weight: bold;
font-size: 12pt;	
padding-top: 3px;
padding-bottom: 3px;
/*border-style: solid;*/
/*text-decoration: underline;*/
	
}

#spielregelncontent{
position:relative;
/*
left: 505px;
top:440px;
*/
border-style: solid;
padding: 5px;	
background-color: #E2FFC0;
	
}

#spielregelnheadup{
	
}

#spielregelnheaddown{
    
}

#spielregelnfooter{

}

#spielregelnfooterimage{

}


#tipps{
float: left;	
width: 550px;
}


#nochzutippen{
float: left;
margin-left: 5px;
width: 280px;
	
}





.tippaendern{
color: blue;
cursor: pointer;
}

.tippen{
color: blue;
cursor: pointer; 
	
}


.tippzeilespaltedatum{
text-align: center;
witdh: 90px;
}

.tippzeilespalteheim{
text-align: center;
width: 115px;

}

.tippzeilespaltegast{
text-align: center;
width: 115px;

}

.tippzeilespaltegruppe{
text-align: center;
width: 45px;

}


.tippzeilespalteeintragheim{
text-align: right;
}

.tippzeilespalteeintraggast{
text-align: left;
}

#tippsofbegegnung{
position: fixed;
top: 39%;
left: 30%;
border-style: solid;
background-color: #E2FFC0;
width: 200px;
height: auto;
z-index:2;

	
}

#tippsofbegegnunghead{
font-weight: bold;
text-decoration: underline;
	
}

#usertippsclose{
text-decoration: underline;
font-weight: bold;	
}

#tippformframe{
position: fixed;
top: 40%;
left: 10%;
background-color: #8FABFF;
border-top-style: solid;	
border-left-style: solid;    
border-right-style: solid;    
	
}

#tippform{

background-color: white;
border-top-style: solid;    
border-bottom-style: solid;    
padding: 5px;
    
}

#formbody{
background-color: #E2FFC0;
	
}

#schliessen{
float: right;
color: white;
margin-right: 3px;
cursor: pointer;
}

.clearboth{
clear: both;
}
